[package]
name = "load-tester"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tokio.workspace = true
tokio-util.workspace = true
serde.workspace = true
toml.workspace = true
thiserror.workspace = true
