[package]
name = "echo-server"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[[bin]]
name = "echo-server"
path = "src/main.rs"

[dependencies]
serde.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util.workspace = true
toml.workspace = true
